body {
  background: #f7f7f7;
  font-family: system-ui, sans-serif;
}

/* CART ITEMS */
.cart-items {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.cart-item h3 {
  font-size: 20px;
  color: #0dbd34;
}

.cart-item p {
  margin: 2px 0;
  font-size: 15px;
  font-weight: 16px;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* TOTAL BOX */
.total-section {
  max-width: 500px;
  margin: 10px auto;
  padding: 12px 16px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
}
/* PROCEED BUTTON INSIDE POPUP */
.order {
  width: 100%;
  margin-top: 14px;
  padding: 12px;
  background: #14a834; /* bright clean green */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
}

.order:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.order:active {
  transform: scale(0.97);
}

/* ORDER BUTTON */
.order-main {
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
  padding: 14px;
  background: #12b32a;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

/* CLEAR CART */
.clearCart {
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #c4c4c4;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* FLOATING BUTTON */
.order-floating {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #22b230;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  animation: pulse 1.8s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
}

/* POPUP */
.order-popup {
  position: fixed;
  bottom: 95px;
  right: 25px;
  width: 270px;
  background: white;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.order-popup.hidden {
  display: none;
}

.order-popup h3 {
  margin-bottom: 12px;
  color: #14a834;
}

.location-box {
  margin-top: 10px;
}

.location-box.hidden {
  display: none;
}

.location-box input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

/* WARNING */
.warning {
  margin-top: 12px;
  font-size: 14px;
  color: red;
  font-weight: 600;
}
.warning.hidden {
  display: none;
}
